@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    max-width: 320px;
    padding: 1rem;
    gap: 1rem;
    margin: 1rem;
}

/* typograpy */
p {
    text-align: center;
    font-size: 15px;
}

p:nth-child(2) {
    font-weight: 700;
    font-size: 20px;
    color: hsl(216, 15%, 48%);
}

p:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    color: hsl(216, 15%, 48%);
}

img {
    width: 100%;
    border-radius: 10px;
}

p:nth-child(1) {
    max-width: 10px;
}

@media (min-width:650px) {
    .container div{
        max-width: 400px;
    }
    p:nth-child(2) {
        font-size: 22px;
    }
    p:nth-child(3) {
        font-size: 18px;
    }
}